<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
<div class="col-md-6 col-md-offset-3" id="forgot-password">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Password dimenticata</h1>
    </div>
    <div class="panel-body">
      <p>Inserisci il tuo indirizzo email</p>

      <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>
        <p>
          <%= f.email_field :email, :class => "form-control" %>
        </p>
        <p>
          <%= f.submit "Riprisina password", :class => 'btn btn-lg btn-success btn-block' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
