<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
     <%= render 'spree/shared/paths' %>
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class(@page) %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <main>
    <%= 
      render partial: 'spree/shared/google_analytics.js' 
    %>
    <%= 
      render partial: 'spree/shared/header'
    %>
  
    <% if controller_name == "home" and action_name == "index" %> 
      <%= render partial: 'spree/home/static_home'  %>
    <% elsif @page&.slug == "/faq" %>
      <%= render partial: 'spree/faq/static_faq'  %>
    <% elsif @page&.slug == "/termini-e-condizioni" %>
      <%= render partial: 'spree/termini/static_termini'  %>
    <% elsif @page&.slug == "/privacy" %>
      <%= render partial: 'spree/privacy/static_privacy'  %>
    <% elsif @page&.slug == "/promozioni" %>
      <%= render partial: '/spree/promozioni/static_promozioni'  %>
    <% elsif @page&.slug == "/chi-siamo" %>
      <%= render partial: '/spree/chi-siamo/static_chi_siamo'  %>
    <% elsif controller_name == "checkout" and action_name == "edit"%>
          <!-- <%= breadcrumbs(@taxon) %> -->
          <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>
          <div class="container" data-hook>
            <div class="row" data-hook>
              <div class = "col-md-5 col-md-offset-2">
                <%= yield %>
              </div>
              <%= render partial: 'spree/menu/carrello', :locals => { :col_size => 3 } %>
            </div>
          </div>
        </div>
      </div>
    <% elsif %>
          <!-- <%= breadcrumbs(@taxon) %> -->
          <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>
          <div class="container" data-hook>
            <div class="row" data-hook>
              <div class = "col-md-12 center-menu linesView">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render partial: 'spree/shared/footer'  %>
    </main>
    <%= render partial: 'spree/shared/cookies'  %>
    <%= raw "<script>min_cost = "+Rails.configuration.min_cost.to_s+";</script>" %>
    <%= raw "<script>mobile = "+(browser.device.mobile? ? "true" : "false")+";</script>" %>
  </body>
</html>