<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
     <%= render 'spree/shared/paths' %>
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class(@page) %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <main>
    <%= 
      render partial: 'spree/shared/google_analytics.js' 
    %>
    <%= 
      render partial: 'spree/shared/header'
    %>

 
      <%= render partial: 'spree/temp_page/index'  %>
 


    <div class="container" data-hook>
      <div class="row" data-hook>
        <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>
        <div class = "col-md-8 col-sm-9 center-menu linesView">
          <%= render partial: 'spree/menu/nav_header_menu'  %>
          <%= render partial: 'spree/menu/all_products'  %>
        </div>
        <%= render partial: 'spree/menu/carrello', :locals => { :col_size => 2 } %>
      </div>
    </div>
    <%= render partial: 'spree/shared/footer'  %>

    </main>
    <%= raw "<script>min_cost = "+Rails.configuration.min_cost.to_s+";</script>" %>
    <%= raw "<script>mobile = "+(browser.device.mobile? ? "true" : "false")+";</script>" %>
    <% if params[:section].present? %>
      <%= raw "<script>section = '"+params[:section]+"';</script>" %>
    <% end %>
    <% if params[:search].present? %>
      <%= raw "<script>searchWord = '"+params[:search]+"';</script>" %>
    <% end %>

   
      <%= render partial: 'spree/menu/overlay'  %>
      <% if browser.device.mobile? %>
      <%= render partial: 'spree/menu/overlayCarrelloMobile'  %>
      <% end %>
      <%= render partial: 'spree/shared/cookies'  %>
    
  </body>
</html>