<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="28.517px" height="28.517px" viewBox="0 0 28.517 28.517" enable-background="new 0 0 28.517 28.517" xml:space="preserve">
<g>
  <defs>
    <rect id="SVGID_1_" width="28.517" height="28.517"/>
  </defs>
  <clipPath id="SVGID_2_">
    <use xlink:href="#SVGID_1_"  overflow="visible"/>
  </clipPath>
  <path clip-path="url(#SVGID_2_)" fill="#27263B" d="M14.27,0C6.407,0,0,6.384,0,14.26c0,7.838,6.317,14.197,14.093,14.257V18.141
    h-3.358V14.07h3.358v-2.902c0-3.451,2.116-5.33,5.189-5.33c1.472,0,2.764,0.109,3.118,0.158v3.607l-2.102,0.001
    c-1.672,0-1.964,0.795-1.964,1.963v2.503h3.967l-0.519,4.071h-3.448v9.791c5.832-1.746,10.182-7.205,10.182-13.672
    C28.517,6.384,22.133,0,14.27,0"/>
</g>
</svg>
