<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="28.517px" height="28.517px" viewBox="0 0 28.517 28.517" enable-background="new 0 0 28.517 28.517" xml:space="preserve">
<g>
  <defs>
    <rect id="SVGID_1_" width="28.517" height="28.517"/>
  </defs>
  <clipPath id="SVGID_2_">
    <use xlink:href="#SVGID_1_"  overflow="visible"/>
  </clipPath>
  <path clip-path="url(#SVGID_2_)" fill="#27263B" d="M14.259,0C10.387,0,9.9,0.016,8.379,0.086c-1.518,0.069-2.554,0.31-3.461,0.663
    C3.98,1.113,3.186,1.6,2.394,2.393C1.601,3.186,1.112,3.981,0.749,4.919C0.396,5.826,0.154,6.862,0.085,8.38
    C0.017,9.901,0,10.386,0,14.259c0,3.872,0.017,4.357,0.086,5.878c0.069,1.518,0.31,2.555,0.663,3.462
    c0.364,0.937,0.852,1.733,1.645,2.525c0.792,0.793,1.587,1.279,2.525,1.645c0.907,0.352,1.943,0.593,3.461,0.663
    c1.521,0.069,2.007,0.085,5.879,0.085s4.357-0.016,5.879-0.085c1.518-0.07,2.554-0.312,3.461-0.663
    c0.938-0.365,1.732-0.852,2.525-1.645c0.792-0.792,1.28-1.589,1.645-2.525c0.353-0.907,0.594-1.944,0.663-3.462
    c0.069-1.521,0.086-2.006,0.086-5.878c0-3.873-0.017-4.358-0.086-5.879c-0.069-1.518-0.311-2.554-0.663-3.461
    c-0.364-0.938-0.853-1.733-1.645-2.526c-0.793-0.793-1.588-1.28-2.525-1.644c-0.907-0.353-1.943-0.594-3.461-0.663
    C18.616,0.016,18.131,0,14.259,0 M14.259,2.569c3.807,0,4.258,0.015,5.762,0.083c1.39,0.064,2.145,0.296,2.647,0.491
    c0.666,0.259,1.141,0.568,1.64,1.067s0.808,0.974,1.065,1.639c0.196,0.503,0.429,1.258,0.491,2.648
    c0.069,1.503,0.084,1.954,0.084,5.762c0,3.807-0.015,4.258-0.084,5.761c-0.062,1.391-0.295,2.146-0.491,2.648
    c-0.258,0.666-0.566,1.141-1.065,1.64s-0.974,0.808-1.64,1.066c-0.503,0.194-1.258,0.428-2.647,0.49
    c-1.504,0.069-1.954,0.083-5.762,0.083c-3.808,0-4.258-0.014-5.762-0.083c-1.39-0.062-2.145-0.296-2.647-0.49
    c-0.666-0.259-1.141-0.567-1.64-1.066s-0.808-0.974-1.066-1.64c-0.196-0.502-0.428-1.258-0.491-2.648
    c-0.069-1.503-0.084-1.954-0.084-5.761c0-3.808,0.015-4.259,0.084-5.762c0.063-1.39,0.295-2.145,0.491-2.648
    C3.401,5.184,3.71,4.709,4.209,4.21s0.974-0.808,1.64-1.067c0.502-0.195,1.257-0.427,2.647-0.491
    C10,2.584,10.452,2.569,14.259,2.569"/>
  <path clip-path="url(#SVGID_2_)" fill="#27263B" d="M14.259,19.011c-2.625,0-4.753-2.128-4.753-4.752
    c0-2.625,2.128-4.753,4.753-4.753c2.625,0,4.753,2.128,4.753,4.753C19.012,16.883,16.884,19.011,14.259,19.011 M14.259,6.937
    c-4.044,0-7.322,3.278-7.322,7.322c0,4.043,3.278,7.322,7.322,7.322c4.044,0,7.321-3.278,7.321-7.322
    C21.58,10.215,18.303,6.937,14.259,6.937"/>
  <path clip-path="url(#SVGID_2_)" fill="#27263B" d="M23.581,6.647c0,0.945-0.767,1.711-1.711,1.711
    c-0.945,0-1.711-0.766-1.711-1.711c0-0.945,0.766-1.711,1.711-1.711C22.814,4.937,23.581,5.702,23.581,6.647"/>
</g>
</svg>
