<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="padding: 0;margin: 0;background-color: #24283C;color: white;font-family: Arial, Helvetica, sans-serif;width: 100%;height: 100%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Conferma registrazione alla newsletter di Nite Delivery</title>
<style>


</style>
</head>

<body>
	Nuovo ordine. Vedi online ordine numero:  <%= @number %>.
</body>
</html>