<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
<%= render partial: 'spree/menu/all_products_header_row'  %>

<section>
<ul>
    <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
  
  <tr class="warning cart-total">
    <td colspan="4" align='right'><h5><%= Spree.t(:total) %></h5></td>
    <td class="lead" colspan><%= order_form.object.display_total %></td>
    <td></td>
  </tr>

</ul>
</section>