<% variant = line_item.variant %>
<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <%= render :partial => 'spree/menu/single_product', :locals => { :product => variant.product } %>
  
<% end %>
