<% content_for :google_analytics do %>
  <% if order_just_completed?(@order) %>
    <%= render partial: 'spree/shared/google_purchase.js', locals: { order: @order } %>
  <% end %>
<% end %>

<fieldset id="order_summary" data-hook>
  <legend><%= Spree.t(:order_number, number: @order.number) %></legend>
  <% if order_just_completed?(@order) %>
    <strong>Grazie per il tuo ordine. Di seguito puoi trovare il riassunto dell'ordine.</strong>
  <% end %>

  <div id="order" data-hook>
    <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
    <br class="clear" />
  </div>
</fieldset>
