<!-- app/views/spree/checkout/_form_wrapper.html.erb -->

<div class="columns <%= if state != 'confirm' then 'alpha twelve' else 'alpha omega sixteen' end %>" data-hook="checkout_form_wrapper">

  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => order } %>
  <%= form_for order, :url => update_checkout_path(state), :remote => (state != 'payment'), :html => { :id => "checkout_form_#{state}",  "data-no-turbolink": "true"} do |form| %>
    <% unless order.email? %>
      <p class="field" style='clear: both'>
        <%= form.label :email %><br />
        <%= form.text_field :email %>
      </p>
    <% end %>

    <%= render state, :form => form %>
  <% end %>
</div>
