<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<h1>Per finalizzare l'ordine</h1>
<div id="registration" class="row" data-hook>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h2>Già registrato?</h2>
          <h3>Effetuato il login</h3>
        </div>
      <div class="panel-body" data-hook="login">
        <%= render :partial => 'spree/shared/login' %>
        <div class = "firstTime">
          <%= link_to "Prima volta su Nite Delivery? Crea il tuo account", signup_path %>
        </div>
      </div>
    </div>
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Hai fretta?</h2>
          <h3>Procedi come ospite</h3>
        </div>
        <div id="guest_checkout" class="panel-body clearFloat" data-hook>
          <% if flash[:registration_error] %>
            <div class='flash error'><%= flash[:registration_error] %></div>
          <% end %>
          <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
            <p>
              <%= f.email_field :email, :class => 'form-control title', :placeholder => Spree.t(:email) %>
            </p>
            <p><%= f.submit "Continua", :class => 'btn btn-lg btn-success btn-block' %></p>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default attenzione clearFloat">
        <div class = "row">
          <div class = "col-md-12">
            <h1>Attenzione</h1>
            <span>Offerte, coupon e</span><br/>
            <span>promozioni sono</span><br/>
            <span>utilizzabili solo</span><br/>
            <span>dagli utenti registrati</span><br/><br/>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>