<div class = "container">
  <div class = "row">
    <div class="col-md-12">
      <h1>Promozioni attive</h1>
    </div>

    <div class = "col-md-12 blockImageAndText">
      <figure>
        <img src = "/img/promozioni/promozioni-summer-edition.jpg" />
        <figcaption>SUMMERNITE</figcaption>
      </figure>
      <div class = "singlePromotion-description">
        <header>
          <h1>Sconto di 5&euro;!</h1>
          <h2>È ARRIVATA SUMMERNITE</h2>
        </header>
        <div class = "decription-in">
         Nite Delivery non ti abbandona nelle calde notti estive, anzi ti premia!<br/> Registrati o effettua il login, una volta nel carrello inserisci il coupon<br/><b>SUMMERNITE</b> per avere uno sconto di 5€* sul tuo ordine!
         <div class = "couponClausula">
        *Coupon valido per un solo ordine. Scade il 20/09/2017. Riservato ad utenti registrati
        </div>
        </div>
        </p>
      </div>
      <footer class = "clearFloat">
        <div class = "summerEdicitonCode">
          SUMMERNITE
        </div>
        <a href = "<%= signup_path %>">
          <button class = "singlePromotion-register">
            Registrati
          </button>
       </a>
      </footer>
    </div>
  </div>
</div>