<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 
max_level = 2
%>
<div class = "scrollProduct">
<section class = "filtered">
  <header>
    <h2>Risultato filtro</h2>
  </header>
  <ul></ul>
</section>
<% if @taxonomies.present? %>
  <% @taxonomies.each do |taxonomy| %>
  <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
  <!-- <section data-taxonomy-name = "<%= taxonomy.name %>"> -->
  <%
  taxonomy.root.children.map do |taxon|
    data_main_section = taxon.name
    data_main_section = data_main_section.gsub("&", "&amp;")
    taxon.children.each_with_index.map do |category_in, index|
      # if category_in.products.size > 0 && category_in.name != "Primi"
      if category_in.products.size > 0
        # if index > 0
        #   data_main_section = ""
        # end
          data_section = category_in.name
          
        %>
        <section data-section = "<%= data_section %>" data-main-section = "<%= data_main_section %>">
          <header>
          <h2>
            <%= category_in.name %>
          </h2>
          </header>
          <ul class = "clearFloat">
            <%       
              products = category_in.products.select('spree_products.*, spree_prices.amount').reorder('').send(:ascend_by_master_price)
            %>
            <% products.each do |product| %>
              <%= render :partial => 'spree/menu/single_product', :locals => { :product => product, extra_meta_keywords: data_section+" "+category_in.name } %>
            <% end %>
          </ul>
        </section>
        <%
        end
        end
      end
    end
  end 
end
%>
</div>
