<header class = "carrello-menu-header">
  <nav>
    <div class = "row">
      <div class = "col-md-3 hidden-sm hidden-xs hidden-md">
        <h2>
          <% if params[:section].nil? %>
            Cucina italiana
          <% elsif %>
            <%= params[:section] %>
          <% end %>
            
        </h2>
      </div>
      <div class = "col-lg-7 col-md-10 col-sm-10 col-xs-10">
        <div class = "filters clearFloat">
          <div class = "filters-for">
            Filtra:
          </div>
          <ul class = "clearFloat">
            <li class = "filter-no-actived" data-filter = "celiaco">
              Senza glutine
              <div class = "filter-actived-icon"></div>
            </li>
            <li class = "filter-no-actived" data-filter = "vegano">
              Vegan
              <div class = "filter-actived-icon"></div>
            </li>
            <li class = "filter-no-actived" data-filter = "vegetariano">
              Vegetariano
              <div class = "filter-actived-icon"></div>
            </li>
            <li class = "filter-no-actived" data-filter = "offerta">
              Offerta
              <div class = "filter-actived-icon"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class = "col-md-2 clearFloat view  col-sm-2 col-xs-2">
        <div class = "linesIcon" data-toggle="tooltip" title="Visualizzazione a lista">
          <div class = "linesIconHover"></div>
        </div>
        <div class = "squareIcon" data-toggle="tooltip" title="Visualizzazione a quadrati">
          <div class = "squareIconHover"></div>
        </div>
      </div>
    </div>
  </nav>
  <%= render partial: 'spree/menu/all_products_header_row'  %>
</header>