<div class = "row headerColumn">
  <div class = "col-md-9 hidden-sm hidden-xs">
    Informazioni
  </div>
  <div class = "col-md-3 col-sm-offset-9 col-xs-offset-9 col-sm-3 col-xs-3 clearFloat">
    <div class = "price-before-hour">
      Fino alle<br/><%=  Rails.configuration.hour_for_price %>:00
    </div>
    <div class = "price-after-hour">
      Dopo le<br/><%=  Rails.configuration.hour_for_price%>:00
    </div>
  </div>
</div>