<%
@total_order = @total_order.present? ? @total_order : @order.total
%>

<!--
<aside class = "col-md-<%= col_size %> carrello-menu">
  <section>
    <header>
      <h1>Carrello</h1>
      <h2>Il tuo ordine</h1>
    </header>
    <ul>
      <% @order.line_items.each do |line_item| %>
        <% 
        variant = Spree::Variant.find(line_item.variant_id)
        p line_item 
        total_line_price = line_item.quantity * variant.price
        %>
        <li class = "clearFloat" data-id = "<%= variant.id %>">
          <div class = "product-name">
            <%= variant.name %>
            <span class="product-quantity">x<%= line_item.quantity %></span>
          </div>
          <div class = "product-price">
            &euro; <%= number_with_precision(total_line_price, precision: 2) %>
          </div>
          <% if controller_name != "checkout" %>
            <div class="product-remove" data-toggle="tooltip" title="" data-original-title="Rimuovi dal carrello"></div>
          <% end %>
      </li>
      <% end %>
      <li class = "clearFloat">
        <div class = "product-name">
          *Consegna gratis!*
        </div>
        <div class = "product-price">
          &euro; 0,00
        </div>
      </li>
    </ul>
    <div class = "totale">
      <div>
        <h2>
         Totale
       </h2>
      </div>
      <div class = "totale-prezzo">
        &euro; <%= number_with_precision(@total_order, precision: 2).to_s %>
      </div>
    </div>
      <%
      diff_order = Rails.configuration.min_cost - @total_order
      diff_order = 0 if diff_order < 0
      perc_diff_order =  (@total_order == 0) ? 0 : @total_order/Rails.configuration.min_cost
      perc_diff_order = perc_diff_order * 100
      minimo_mancante_class = perc_diff_order >= 1 ? "ordina" : ""

      diff_order_string = number_with_precision(diff_order, precision: 2).to_s.gsub(".",",")

      %>
    <% if controller_name != "checkout" %>
      <div class = "minimoOrdine <%= minimo_mancante_class %>" data-checkout = "<%= checkout_path %>/address">
        <div class = "minimoOrdine-background" style = "width:<%= perc_diff_order.to_s%>%">
        </div>
        <div class = "minimoOrdine-mancante">
          <% if diff_order > 0 %>
          <%= diff_order_string %> &euro; al minimo d'ordine
          <% else %>
          Vai alla cassa
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
  <section class = "serveAiuto">
    <h1>Serve aiuto<br/>con il tuo ordine?</h1>
    <div class = "numeroVerde clearFloat">
      <a href="tel:+800204080" class = "numeroVerde-left">
        800 20 40 80
      </a>
      <div class = "numeroVerde-right">
        numero verde gratuito
      </div>
    </div>
  </section>
  <% if controller_name != "checkout" %>
    <section>
      <img class = "consegnaGratuita" src = "./img/svg/consegnaGratuita.svg" alt = "Consegna gratuita" />
    </section>
  <% end %>
</aside>
-->