<div class = "overlay">
  <div class = "overlay-details" data-id = "">
    <div class = "overlay-close-btn">
    </div>
    <div class = "preview">
      <img itemprop="image" alt="Affettati misti" src="/spree/products/13/large/affettati_misti.jpg?1495124851">
    </div>
    <h2 class = "title">Titolo</h2>
    <p>Descrizione</p>
    <div class = "properties">
      proprietà, proprietà
    </div>
    <div class = "price">
      Prezzo: <span>&euro;5,90</span>
    </div>
    <h2>Richieste specifiche</h2>
    <textarea></textarea>
    <!--
    <button>
      Aggiunti al carrello
    </button>
  </div>
</div>