<%
vegan = product.properties.find_by(name: "vegano")
veggy = product.properties.find_by(name: "vegetariano")
celiaco = product.properties.find_by(name: "celiaco")
offerta = product.properties.find_by(name: "offerta")
vegan_or_veggy = (vegan.present? ? "vegano vegetariano" : (veggy.present? ? "vegetariano" : "") )

vegan_or_veggy =  vegan_or_veggy + " celiaco" if celiaco.present?
vegan_or_veggy =  vegan_or_veggy + " offerta" if offerta.present?
%>
<li class = "singleProduct <%= vegan_or_veggy %>" data-id = "<%= product.master.id %>" data-meta-keywords = "<%= product.meta_keywords %> <%= extra_meta_keywords %>">
  <div class = "row">
    <div class = "col-md-9 col-sm-9 col-xs-9">
      <div class = "singleProduct-image">
        <%= large_image(product, itemprop: "image") %><br/>
        <div class = "singleProduct-image-hover">
          <span>Scopri<br/>di più</span>
        </div>
      </div>
      <div class = "singleProduct-description centerVertical">
        <h3>
          <%= product.name %>
        </h3>
        <div class = "singleProduct-description-details">
          <%= product.description %>
        </div>
      </div>
      <div class = "allergeniBtn"  data-toggle="tooltip" title="Vedi informazioni">
      </div>
      <div class = "celiacoIcon" data-toggle="tooltip" title="Celiaco">
      </div>
      <div class = "vegetarianoIcon" data-toggle="tooltip" title="Vegetariano">
      </div>
      <div class = "veganoIcon" data-toggle="tooltip" title="Vegano">
      </div>
    </div>
    <div class = "col-md-3 col-sm-3 col-xs-3">
      <div class = "price-before-hour centerVertical hidden-xs">
          &euro; <%= number_with_precision(product.master.get_normal_amount("EUR"), precision: 2) %>
      </div>
      <div class = "price-after-hour centerVertical hidden-xs">
          &euro; <%= number_with_precision(product.master.get_amount_by_hour("EUR"), precision: 2) %>
      </div>
      <div class = "product-plus centerVertical">
        <!--
        <a href = "/orders/populate" data-method = "POST" data-params = "{'variant_id':'<%= product.id %>', 'quantity':'1'}, 'button' : ''}">
          <div class = "plusButton" data-toggle="tooltip" title="Aggiungi al carrello">
          </div>
        </a>
      -->
      </div>
      <div class = "price-for-mobile centerVertical">
          &euro; <%= number_with_precision(product.price_in("EUR").amount, precision: 2) %>
      </div>
    </div>
    <div class = "infoForSquare">
      <h3>
          <%= product.name %>
      </h3>
      <div class = "price-before-hour">
        &euro; <%= number_with_precision(product.price_in("EUR").amount, precision: 2) %>
      </div>
      <!--
      <a href = "/orders/populate" data-method = "POST" data-params = "{'variant_id':'<%= product.id %>', 'quantity':'1'}, 'button' : ''}">
        <div class = "plusButton" data-toggle="tooltip" title="Aggiungi al carrello">
        </div>
      </a>
    -->
    </div>
  </div>
</li>