<% content_for :sidebar do %>
  <section id="taxonomies" class="sidebar-item" data-hook>
    <header>
      <h1>Menù</h1>
    </header>
    <%= render :partial => 'spree/shared/taxonomies' %>
  </section>
<% end %>