<div class = "container">
  <div class = "row">
    <div class="col-md-12">
      <h1>FAQ</h1>
    </div>
    <div class="col-md-12">
      <h2>Cos'è Nite Delivery?</h2>
      <p>Nite Delivery è un servizio di consegna a domicilio di cibo e bevande.</p>
      <h2>Come funziona Nite Delivery?</h2>
      <p>È molto semplice: clicca sul tasto menù nella homepage e ti mostreremo tutti i cibi e le bevande disponibili.<br/>
      Scegli quello che preferisci, aggiungi al carrello, vai alla cassa e inserisci la tua email. Procedi con l’ indirizzo della spedizione e il metodo di pagamento ed è fatta. Ti consegneremo il tuo ordine il più presto possibile.</p>
    <h2>Come faccio ad ordinare?</h2>
    <p>Naviga sul nostro sito web e aggiungi prodotti al carrello oppure chiama il numero verde gratuito <a href = "tel:800
203040">800 203040</a>.</p>
    <h2>A che ora posso ordinare?</h2>
    <p>Puoi ordinare dalle 19:30 alle 3:30 da Domenica a Giovedì; Venerdì e Sabato dalle 19:30 alle 5:30. Il servizio di consegna parte dalle ore 20:00. Dalle 19:30 è operativo il servizio d’ordine.</p>
    <h2>Come faccio a sapere se il mio ordine è stato inoltrato con successo e se è stato confermato?</h2>
    <p>Se ordini online riceverai una mail di conferma ricezione ordine.</p>
    <h2>Posso modificare gli ingredienti di un piatto? Cosa devo fare se ho qualche allergia?</h2>
    <p>Certo, cliccando sull ‘immagine del prodotto apparirà una finestra dove potrai aggiungere o
togliere ingredienti oppure fare delle richieste specifiche.</p>
    <h2>Il mio ordine è in ritardo, come faccio a sapere a che punto è?</h2>
    <p>Garantiamo sempre la consegna entro 1 ora dalla ricezione dell’ ordine, se non dovessimo rispettare tale
lasso di tempo chiamaci al numero verde gratuito <a href = "tel:800
203040">800 203040</a>.</p>
    <h2>Come vengono consegnati il cibo e le bavande?</h2>
    <p>Il cibo passa dai fornelli a scatole adibite al trasporto di cibi caldi, quindi non ti preoccupare che se hai ordinato un piatto caldo ti verrà consegnato come lo hai immaginato.<br/>
Le bevande si dividono in tre categorie:<br/>
Vini e Bollicine in apposite Ice Bag con ghiaccio per mantenere alla giusta temperatura ogni bottiglia. <br/>
Birre e Bibite in secchi di metallo con ghiaccio per poterti bere la tua bevanda ghiacciata in tutto relax<br/>
Superalcolici in bulk di plastica contenenti ghiaccio ed eventuali bibite vuoi accompagnarci.</p>
    <h2>Qual è la spesa minima per poter ordinare?</h2>
    <p>La spesa minima per poter ordinare è di 11,90 &euro;.</p>
    <h2>Ci sono spese di consegna?</h2>
    <p>No, tutti i prezzi esposti sono già compresi di spese di consegna.</p>
    <h2>Come posso utilizzare un buono sconto?</h2>
    <p>Per poter usufruire delle promozioni bisogna registrarsi sul sito web.</p>
    <h2>Come faccio a lasciare una recensione?</h2>
    <p>Collegati su Facebook e clicca mi piace sulla nostra pagina ufficiale e scrivi la tua esperienza con noi.</p>
    <h2>Non riesco a pagare con la mia carta di credito.</h2>
    <p>Nessun problema, clicca come metodo di pagamento “ Pagamento alla consegna” e potrai pagare in
contanti oppure con carte tramite il nostro POS ( accettiamo tutte le carte).</p>
    <h2>Ho bisogno di ricevere la fattura dell'ordine. A chi posso chiederla?</h2>
    Chiamaci al numero verde gratuito 800 203040 e specifica la richiesta fattura.</p>
    <h2> Devo lasciare una mancia?</h2>
    <p>Solo tu puoi decidere, ovviamente è cosa gradita.</p>
    </div>
  </div>
</div>