<div class = "container">
  <div class = "row">
    <div class="col-md-12">
       <div class = "container-privacy">
		   <h1>TERMINI E CONDIZIONI</h1>
		   <h2>Coming soon</h2>
		</div>
    </div>
  </div>
</div>