<% @body_id = 'signup' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Nuovo account</h1>
    </div>
      <div id="new-customer" class="panel-body" data-hook="login">
          <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
            <div data-hook="signup_inside_form">
              <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
              <p><%= f.submit "Registrati", :class => 'btn btn-lg btn-success btn-block' %></p>
            </div>
          <% end %>
          <div class="text-center">
              <%= link_to "Entra con il tuo account", spree.login_path %>
          </div>
          <div data-hook="login_extras"></div>
      </div>
  </div>
</div>
