<div id = "cookiesOverlay">
    <div class = "container">
                Questo sito o gli strumenti terzi da questo utilizzati si avvalgono di cookie necessari al funzionamento ed utili alle finalità illustrate nella <strong>Privacy Policy</strong>.
Se si vuol saperne di più o negare il consenso a tutti o ad alcuni cookie, consultare la <strong>Privacy Policy</strong>.
Chiudendo questo banner si acconsente all'uso dei cookie.
        <%= render partial: '/spree/shared/cookies_text'  %>
        <button type="button" class="btn btn-success" id = "acceptCookie">Accetto</button>
    </div>
</div>