 <div class = "container-privacy">
   <h1>PRIVACY E COOKIES</h1>
   <p>
Gentile Interessato, desideriamo informarLa che “Regolamento Europeo 2016/679 relativo alla protezione delle persone fisiche con riguardo al Trattamento dei Dati Personali, nonché alla libera circolazione di tali dati” (da ora in poi “GDPR”) prevede la protezione delle persone fisiche con riguardo al trattamento dei dati di carattere personale come diritto fondamentale. Ai sensi dell'articolo 13 del GDPR, pertanto, La informiamo che:
</p>
<h2>A. CATEGORIE DI DATI: Nite Delivery srl tratterà i suoi dati personali. Quali:</h2>
<p>

			- Dati raccolti in automatico. I sistemi informatici e gli applicativi dedicati al funzionamento di questo sito web rilevano, nel corso del loro normale funzionamento, alcuni dati (la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet) potenzialmente associati ad utenti identificabili. Tra i dati raccolti sono compresi gli indirizzi IP e i nomi di dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri riguardanti il sistema operativo, il browser e l’ambiente informatico utilizzato dall’utente. Questi dati vengono trattati, per il tempo strettamente necessario, al solo fine di ricavare informazioni statistiche sull’uso del sito e per controllarne il regolare funzionamento. Il conferimento di tali dati è obbligatorio in quanto direttamente collegato all’esperienza di navigazione web.
		<br/><br/>
			- Dati forniti volontariamente dall’utente. L’invio volontario ed esplicito di posta elettronica agli indirizzi indicati nei differenti canali di accesso di questo sito non comporta richiesta di consenso e l’eventuale compilazione di form specificamente predisposti comportano la successiva acquisizione dell’indirizzo e dei dati del mittente/utente, necessari per rispondere alle istanze prodotte e/o erogare il servizio richiesto. L’invio volontario, da parte vostra, di mail ai nostri indirizzi di posta elettronica non necessitano di ulteriori informative o richieste di consenso. Al contrario, specifiche informative di sintesi saranno riportate o visualizzate nelle pagine del sito predisposte per particolari servizi a richiesta (form). L’utente dovrà pertanto acconsentire esplicitamente all’utilizzo dei dati riportati in questi form per poter inviare la richiesta.
		<br/><br/>
			- Cookies. Il sito utilizza cookie. I dati raccolti grazie ai cookie possono servire per accedere a delle parti del sito o per fini statistici o per rendere l’esperienza di navigazione più piacevole e più efficiente in futuro, cercando di valutare il comportamento degli utenti e di modificare la proposizione di offerta dei contenuti in funzione del loro comportamento. Per maggiori informazioni è disponibile una apposita cookie policy.
		
</p>
<h2>B. FONTE DEI DATI PERSONALI</h2>
<p>
I dati personali di cui <b>Nite Delivery srl</b> è in possesso sono raccolti direttamente presso l’interessato.
</p>
<h2>C. TITOLARE DEL TRATTAMENTO:</h2>
<p>
Titolare del trattamento è <b>Nite Delivery srl</b> – Via Ferrarin, 13 - 20090 Segrate – Tel. 334 3448227. <br/>Indirizzo per l’esercizio dei diritti ex art. 7 del Codice della privacy: <a href = "mailto:info@nitedelivery.com">info@nitedelivery.com</a>.
</p>
<h2>D. DATI DI CONTATTO DEL D.P.O.</h2>
<p>
Il titolare non ha obbligo di nomina del D.P.O
</p>
<h2>E. FINALITÀ DI TRATTAMENTO DEI DATI E BASE GIURIDICA</h2>
<p>
Il trattamento dei Suoi dati ha come base giuridica il suo consenso ed è effettuato per le seguenti finalità:
<ul>
- Migliorare l’esperienza di navigazione web;<br/>
- Utilizzo dei dati riportati nelle mail ricevute di contatto e nei form per poter inviare risposte alle richieste specifiche;<br/>
- Valutare il comportamento degli utenti e di modificare la proposizione di offerta dei contenuti in funzione del loro comportamento;
</ul>
</p>
<h2>F. DESTINATARI DEI DATI</h2>
<p>
Nei limiti pertinenti alle finalità di trattamento indicate, i Suoi dati potranno essere comunicati a partner, società di consulenza, aziende private, nominati Responsabili dal Titolare del Trattamento o per obblighi di legge o per adempiere a vostre specifiche richieste. I Suoi dati non saranno in alcun modo oggetto di diffusione salvo. I Responsabili e gli Incaricati del trattamento in carica sono puntualmente individuati nel Documento sulla Privacy, aggiornato con cadenza periodica.
</p>
<h2>G. TRASFERIMENTO DEI DATI ALL’ESTERO</h2>
<p>
I dati raccolti non sono comunicati a soci esteri del Titolare.
    </p>


 <h2>H. PERIODO DI CONSERVAZIONE</h2>
<p>
I dati raccolti verranno conservati per un arco di tempo non superiore al conseguimento delle finalità per le quali sono trattati (“principio di limitazione della conservazione”, art.5, GDPR) o in base alle scadenze previste dalle norme di legge. La verifica sulla obsolescenza dei dati conservati in relazione alle finalità per cui sono stati raccolti viene effettuata periodicamente.
    </p>
 <h2>I. DIRITTI DELL’INTERESSATO</h2>
<p>
L’interessato ha sempre diritto a richiedere al Titolare l’accesso ai Suoi dati, la rettifica o la cancellazione degli stessi, la limitazione del trattamento o la possibilità di opporsi al trattamento, di richiedere la portabilità dei dati, di revocare il consenso al trattamento facendo valere questi e gli altri diritti previsti dal GDPR tramite semplice comunicazione al Titolare. L‘interessato può proporre reclamo anche a un’autorità di controllo.
    </p>
 <h2>J. OBBLIGATORIETÀ O MENO DEL CONSENSO</h2>
<p>
Il conferimento dei Suoi dati è obbligatorio durante la navigazione del nostro sito web per quanto riguarda i punti E.1 e E.2 delle finalità sopracitate, per permettere la corretta erogazione del servizio. Il conferimento del consenso dei suoi dati per i punti E.3 è invece facoltativo e non comprometterà in alcun modo l’erogazione del servizio.
    </p>
 <h2>K. MODALITÀ DI TRATTAMENTO DEI DATI</h2>
<p>
I dati personali da Lei forniti, formeranno oggetto di operazioni di trattamento nel rispetto della normativa sopracitata e degli obblighi di riservatezza cui è ispirata l'attività del Titolare. I dati verranno trattati sia con strumenti informatici sia su supporti cartacei sia su ogni altro tipo di supporto idoneo, nel rispetto delle misure adeguate di sicurezza ai sensi dell’art 5 par. 1 lett. F del GDPR.
    </p>




<h2>L. COSA SONO I COOKIE?</h2>
<p>
  I cookie sono piccoli file di testo inviati dal sito al terminale dell’interessato (solitamente al browser), dove vengono memorizzati per essere poi ritrasmessi al sito alla successiva visita del medesimo utente. Un cookie non può richiamare nessun altro dato dal disco fisso dell’utente né trasmettere virus informatici o acquisire indirizzi email. Ogni cookie è unico per il web browser dell’utente. Alcune delle funzioni dei cookie possono essere demandate ad altre tecnologie. Nel presente documento con il termine ‘cookie’ si vuol far riferimento sia ai cookie, propriamente detti, sia a tutte le tecnologie similari. Mediante i cookie è possibile registrare informazioni relative alle sue preferenze, come le pagine navigate o il download di file dal ns. sito o altre azioni similari effettuate navigando il nostro sito.
</p>

<h2>M. COOKIE DI PRIMA O DI TERZA PARTE</h2>
<p>
  I cookie possono essere di prima o di terza parte, dove per “prima parte” si intendono i cookie sviluppati dal Titolare del sito stesso, mentre per “terza parte” si intendono i cookie sviluppati da Terzi rispetto il Titolare del sito.
</p>

<h2>N. NATURA DEI COOKIE</h2>
<p>
  Relativamente alla natura dei cookie, ne esistono di diversi tipi:<br/><br/>
<b>Cookie tecnici</b> I cookie tecnici sono quelli utilizzati al solo fine di “effettuare la trasmissione di una comunicazione su una rete di comunicazione elettronica, o nella misura strettamente necessaria al fornitore di un servizio della società dell’informazione esplicitamente richiesto dall’abbonato o dall’utente a erogare tale servizio” (cfr. art. 122, comma 1, del Codice). Essi non vengono utilizzati per scopi ulteriori e sono normalmente installati direttamente dal titolare o gestore del sito web. Possono essere suddivisi in:
<br/><br/>
- cookie di navigazione o di sessione, che garantiscono la normale navigazione e fruizione del sito web (permettendo, ad esempio, di realizzare un acquisto o autenticarsi per accedere ad aree riservate); essi sono di fatto necessari per il corretto funzionamento del sito;
<br/><br/>- cookie analytics, assimilati ai cookie tecnici laddove utilizzati direttamente dal gestore del sito per raccogliere informazioni, in forma aggregata, sul numero degli utenti e su come questi visitano il sito stesso, al fine di migliorare le performance del sito;
<br/><br/>- cookie di funzionalità, che permettono all’utente la navigazione in funzione di una serie di criteri selezionati (ad esempio, la lingua, i prodotti selezionati per l’acquisto) al fine di migliorare il servizio reso allo stesso. Per l’installazione di tali cookie non è richiesto il preventivo consenso degli utenti (più informazioni nel paragrafo Gestione dei cookie in basso).
<br/><br/>
<b>Cookie di profilazione</b> I cookie di profilazione sono volti a creare profili relativi all’utente e vengono utilizzati al fine di inviare messaggi pubblicitari in linea con le preferenze manifestate dallo stesso nell’ambito della navigazione in rete. Per l’utilizzo dei cookie di profilazione è richiesto il consenso dell’interessato. Secondo il provvedimento n. 229 dell’8 maggio 2014 l’utente deve poter autorizzare o negare il consenso all’installazione dei cookie di profilazione qualora essi siano presenti. In caso di cookie di terze parti, il sito non ha un controllo diretto dei singoli cookie e non può controllarli (non può né installarli direttamente né cancellarli). Puoi comunque gestire questi cookie attraverso le impostazioni del browser (segui le istruzioni riportate più avanti), o i siti indicati nella sezione “Gestione dei cookie”.
<br/>
Troverà ulteriori informazioni sui cookies su <a href = "http://www.allaboutcookies.org/" target = "_blank">allaboutcookies.org</a> e <a href = "http://youronlinechoices.eu/" target = "_blank">youronlinechoices.eu</a>.
</p>

<h2>O. DURATA DEI COOKIE</h2>
<p>
  I cookie hanno una durata dettata dalla data di scadenza (o da un’azione specifica come la chiusura del browser) impostata al momento dell’installazione. I cookie possono essere:
<br/><br/>
- temporanei o di sessione (session cookie): sono utilizzati per archiviare informazioni temporanee, consentono di collegare le azioni eseguite durante una sessione specifica e vengono rimossi dal computer alla chiusura del browser;
<br/><br/>- permanenti (persistent cookie): sono utilizzati per archiviare informazioni, ad esempio il nome e la password di accesso, in modo da evitare che l’utente debba digitarli nuovamente ogni volta che visita un sito specifico. Questi rimangono memorizzati nel computer anche dopo aver chiuso il browser.
<br/><br/>I c.d. cookies di sessione, una volta terminata la connessione al presente sito web, non vengono conservati. I sistemi informatici utilizzati per il presente sito utilizzano cookie temporanei e cookie permanenti.
</p>

<h2>P. GESTIONE DEI COOKIE</h2>
<p>
  Puoi disattivare i cookies presenti sui siti web scaricando appositi software quali Ghostery (https://www.ghostery.com) per il tuo browser e disabilitando l’utilizzo dei singoli cookies. Oppure puoi attivare la modalità di “navigazione anonima” – si tratta di una funzione che consente di navigare senza lasciare traccia nel browser dei dati di navigazione. Tale funzione consente unicamente di non mantenere i dati di navigazione nel browser. In alternativa, puoi disabilitare/cancellare i cookie mediante l’accesso al pannello di configurazione del tuo browser.
</p>

<h2>Q. ACCETTAZIONE E RINUNCIA DEI COOKIE</h2>
<p>
  Proseguendo nella navigazione su questo sito, chiudendo la fascetta informativa o facendo click in una qualsiasi parte della pagina o scorrendola per evidenziare ulteriore contenuto, si accetta la Cookie Policy e verranno impostati e raccolti i cookie. In caso di mancata accettazione dei cookie mediante abbandono della navigazione, eventuali cookie già registrati localmente nel Suo browser rimarranno ivi registrati ma non saranno più letti né utilizzati da noi fino ad una successiva ed eventuale accettazione della Policy. Lei avrà sempre la possibilità di rimuovere tali cookie in qualsiasi momento attraverso le modalità citate.
</p>








</div>