 <div class = "container-privacy">
   <h1>PRIVACY POLICY</h1>
   <p>
I dati riportati nel presente sito non sono impegnativi, Nite Delivery si riserva di apportare modifiche senza obbligo di preavviso. Nite Delivery inoltre non garantisce e pertanto non assume alcuna responsabilità in merito alla presenza di contenuti obsoleti. COPYRIGHT E ULTERIORI DIRITTI DI PROPRIETA’ INDUSTRIALE E INTELLETTUALE Ogni diritto sul presente sito e su ogni singola parte di esso è di esclusiva proprietà di Nite Delivery. Il presente sito contiene materiali ed informazioni inclusi, ma non limitatamente a, fotografie, illustrazioni, testi, videoclip, audio clip, protetti dal diritto d’autore e/o da altri diritti di proprietà industriale e intellettuale, e pertanto il diritto esclusivo di riprodurre, trascrivere, distribuire, porre in circolazione, tradurre e, più in generale, di utilizzare a fini economici, patrimoniali e commerciali i suddetti materiali ed informazioni sono riservati in via esclusiva a Nite Delivery ed a eventuali terzi da questa ultima autorizzati in forma scritta.
</p>
<h2>Informativa sul trattamento dei dati personali</h2>
<p>
Nite Delivery garantisce che tutti i dati forniti dall’Utente verranno trattati in conformità a quanto previsto dalla normativa sulla riservatezza delle informazioni, nel rispetto della legge n. 196/2003. I dati raccolti, trattati in modo lecito e secondo correttezza, saranno utilizzati da Nite Delivery solo ed unicamente per: a) fornire i servizi offerti dal presente sito; b) verificare il livello di soddisfazione dell’Utente; c) informare l’Utente circa eventuali nuovi prodotti, nuove iniziative, eventi e servizi; d) per comunicare offerte commerciali relative a prodotti o servizi forniti da Nite Delivery o da aziende collegate o controllate o con le quali Nite Delivery ha stipulato o stipulerà accordi commerciali; e) per adempiere a obblighi di legge. Il trattamento dei dati potrà essere effettuato da Nite Delivery attraverso strumenti manuali, informatici o telematici atti a memorizzare gestire e trasmettere i dati stessi. L’utilizzo di questo sito costituisce autorizzazione da parte dell’Utente al trattamento dei suoi dati personali per gli scopi sopra descritti.L’Utente ha diritto in qualsiasi momento a conoscere l’esistenza di dati personali che lo riguardano, a conoscere l’origine dei dati che lo riguardano nonché la logica e le finalità su cui si basa il trattamento, alla trasformazione in forma anonima, alla cancellazione, all’aggiornamento e/o alla rettifica/integrazione dei dati personali che lo riguardano, ad opporsi per motivi legittimi al trattamento dei dati ancorché pertinenti lo scopo della raccolta, ad opporsi al trattamento dei dati previsto ai fini dell’invio di materiale pubblicitario o ai fini di informazione commerciale. Per esercitare i diritti di cui sopra, l’Utente dovrà inviare una richiesta tramite email a <a href = "mailto:info@nitedelivery.com">info@nitedelivery.com</a>.
</p>
<h2>Cookie Policy</h2>
<p>
La presente ‘Cookie Policy’ riguarda l’utilizzo di cookie da parte di Nite Delivery per rendere l’uso del sito più semplice ed offrire una migliore esperienza di navigazione. I cookie possono anche essere impiegati per compilare statistiche anonime aggregate che consentono di capire come le persone navigano i Siti e per migliorare la struttura ed i contenuti di essi attraverso l’utilizzo di software di analisi come Google Analytics.

Per tutte le informazioni richieste dall’art. 13 del D.Lgs. n. 196/2003 (“Codice della Privacy”)
</p>
<h2>Cosa sono i cookie</h2>
<p>
I cookie sono piccole stringhe di testo che un sito visitato invia al browser di navigazione per vari scopi, tipicamente con fini di Analisi: che vengono utilizzati per raccogliere informazioni aggregate sul numero degli utenti o su come questi visitano il sito web Navigazione: che garantiscono la normale navigazione e fruizione del sito Funzionalità: utilizzata per migliorare la navigabilità del sito in funzione di specifici criteri (es. lingua) Un’altra categoria di cookie sono quelli per il remarketing, utilizzati con il fine profilare l’utente allo scopo di fornirgli pubblicità mirata in base alle sue abitudini di navigazione. Per questo genere di cookie non è richiesto il preventivo consenso da parte dell’utente alla loro installazione né è richiesta la comunicazione al garante della privacy, ma è necessario formulare la presente informativa.
</p>
<h2>Quali cookie utilizza questo sito?</h2>
<p>
Questo sito utilizza cookie di analisi di Google Analytics. Essi vengono utilizzati per avere statistiche numeriche sulle pagine visitate, sul numero di visitatori totali, sulla rete da cui provengono gli utenti, etc. Nessun dato personale è trasmesso attraverso questi cookie. Per una migliore e più completa trattazione della policy relativa a questi cookie fare riferimento ai seguenti link:

http://www.google.it/analytics/learn/privacy.html
</p>
<h2>Come disabilitare i cookie?</h2>
<p>
Di default i cookie sono abilitati in ogni browser per evitare disservizi e difficoltà di navigazione limitandone l’esperienza utente. E’ possibile disattivare i cookie per ogni singolo browser, facendo riferimento alla documentazione di ogni browser. Per disattivare i cookie di Google Analytics è necessario scaricare un add-on del browser, direttamente offerto da Google:

https://tools.google.com/dlpage/gaoptout/
</p>
<h2>Interazione con social network e piattaforme esterne</h2>
<p>
Questi servizi permettono di effettuare interazioni con i social network, o con altre piattaforme esterne, direttamente dalle pagine di questo sito. Le interazioni e le informazioni acquisite da questo sito sono in ogni caso soggette alle impostazioni privacy dell’utente relative ad ogni social network. Nel caso in cui sia installato un servizio di interazione con i social network, è possibile che, anche nel caso gli utenti non utilizzino il servizio, lo stesso raccolga dati di traffico relativi alle pagine in cui è installato.
</p>
<h2>Titolare del Trattamento dei Dati</h2>
<p>
Titolare del trattamento è <b>Nite Delivery srl</b> – Via Ferrarin, 13 - 20090 Segrate – Tel. 334 3448227. <br/>Indirizzo per l’esercizio dei diritti ex art. 7 del Codice della privacy: <a href = "mailto:info@nitedelivery.com">info@nitedelivery.com</a>.
    </p>
        </div>