<footer>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-3 col-xs-12">
        <a href = "https://www.facebook.com/nitedeliveryitalia/" target = "_blank">
          <%= render partial: 'spree/svg/facebookSvg'  %>
        </a>
        <a href = "https://www.instagram.com/nitedeliveryitalia/" target = "_blank">
          <%= render partial: 'spree/svg/instagramSvg'  %>
        </a>
      </div>
      <div class = "col-md-9">
        <div>
          <a href="<%= request.base_url%>/faq">Domande Frequenti FAQ</a><span>|</span> 
          <a href="<%= request.base_url%>/chi-siamo">Chi siamo</a><span>|</span> 
          <a href = "mailto:info@nitedelivery.com" target="_blank">Contatti</a><span>|</span> 
          <a href="<%= request.base_url%>/termini-e-condizioni">Termini e Condizioni</a><span>|</span> 
          <a href="<%= request.base_url%>/privacy">Informazioni sulla privacy</a>
       </div>
       <div>
          <!--<a href = "#">Invita un amico</a><span>|</span> -->
        </div>
        <div class = "copyright">Copyright &copy; 2018 Nite Delivery - All rights reserved. È vietata la riproduzione anche parziale. P.IVA 09694430969</div>
      </div>
    </div>
  </div>
</footer>