<nav class="navbar navbar-default">
  <div class="container">
   
   <!--
    <div id = "carrelloBtnOut">
      <a href="<%= checkout_path %>" data-total = "<%= @total_order%>">
        <div class = "carrello-totProducts">
          <% tot_cart = "0" 
            if !(controller_name == "orders" and action_name == "show")  
              tot_cart = @order.present? ? @order.quantity : 0
            end
          %>
          <%= tot_cart%>
        </div>
      </a>
    </div>
  -->
    <div class="navbar-header">
     
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
      <%= link_to image_tag("/img/svg/logo.svg", alt: "Nite Delivery"), request.base_url, {class: "navbar-brand"} %>
    </div>
    <div class="collapse navbar-collapse" id="mainNav-collapse">
    
      <form class="navbar-form navbar-left"  id = "formSearch" action = "<%= request.base_url%>/menu" method = "GET">
        <div class="form-group">
          <input type="text"  name = "search" id= "search" class="form-control" placeholder="Voglie notturne? Cerca cibo e bevande">
        </div>
        <button type="submit" class="btn btn-default fa"></button>
      </form>
      <ul class="nav navbar-nav">
        <li class="[active]">
          <a href="<%= request.base_url%>/menu">Menù <span class="sr-only">(current)</span></a>
        </li>
        <li class="[active]">
          <a href="<%= request.base_url%>/chi-siamo">Chi siamo <span class="sr-only">(current)</span></a>
        </li>
        <li class="[active]">
          <a href="<%= request.base_url%>/faq">FAQ <span class="sr-only">(current)</span></a>
        </li>
        <!--
        <li class="[active]">
          <a href="<%= request.base_url%>/promozioni">Promozioni <span class="sr-only">(current)</span></a>
        </li>
      -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
    
        <% if !spree_current_user.present? %>
        <li>
          <%= link_to "Registrati", signup_path %>
        </li>
        <li id = "accediBtn">
          <%= link_to "Accedi", login_path %>
        </li>
        <% elsif %>
        <li id = "esciBtn">
          <%= link_to "Esci", logout_path %>
        </li>
        <% end %>
          
        <li id = "carrelloBtn">
          <a href="<%= checkout_path %>/address" data-total = "<%= @total_order%>">
            <div class = "carrello-totProducts">
              <% tot_cart = "0" 
                if !(controller_name == "orders" and action_name == "show")  
                  tot_cart = @order.present? ? @order.quantity : 0
                end
              %>
              <%= tot_cart%>
            </div>
          </a>
        </li>

      </ul>
     
    </div>
  </div>
</nav>