<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
  <fieldset id="password-credentials">
    <div class="form-group">
      <%= f.email_field :email, :class => 'form-control', :tabindex => 1, :placeholder => Spree.t(:email) %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, :class => 'form-control', :tabindex => 2, :placeholder => Spree.t(:password) %>
    </div>
    <div class = "row">
      <div class="checkbox col-md-6">
        <label>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Ricordami" %>
        </label>
      </div>
      <div class="form-group form-group-login col-md-6 clearFloat">
        <%= f.submit "Accedi", :class => 'btn btn-lg btn-success btn-block', :tabindex => 3 %>
      </div>
    </div>
  </fieldset>
<% end %>