<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 
max_level = 2
%>

<%
if @taxonomies.present?
%>
<% @taxonomies.each do |taxonomy| %>
  <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
    <section>
      <h2 class = "open"><%= taxonomy.name %>
      </h2>
      <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
    </section>
  <% end %>
<% end %>
<%
end
%>