<div class = "container">
  <div class = "row">
    <div class="col-md-12">
      <h1>Chi siamo</h1>
    </div>
    <div class="col-md-12">
      <img src = "img/chi-siamo/cover-chi-siamo.jpg" />
    </div>

    <div class = "col-md-12">
      <p>
        Nite Delivery è una giovane attività imprenditoriale Milanese nata nel 2017 dalla fusione dei settori ristorazione, servizi e comunicazione. La nostra mission è quella di creare un Delivery notturno che possa soddisfare qualunque esigenza e/o desiderio dei nostri clienti. Offriamo un servizio preciso e affidabile con prodotti di alta qualità e controllati dalla licenza HACCP.
      </p>
      <br/>
      <h2>Perché ordinare da noi?</h2>
      <p>
        Perché ti portiamo cibo e bevande per tutta la notte ovunque tu sia (<b>Milano e Provincia</b>).
<br/><br/>
Tutte le notti, dalle <b>19:30</b> alle <b>4:00</b> del mattino. <br/>
Il venerdì e il sabato fino alle <b>6:00 am</b>.
      </p><br/>
      <h2>Nite Delivery ti garantisce:</h2>
      <p>
        - Scelta accurata dei partners del territorio, per garantirti prodotti di qualità, ad un prezzo conveniente.<br/>
- Consegna rapida ed affidabile entro un'ora dall’ordinazione.<br/>
- Non dovrai più preoccuparti di rimanere senza food & drinks per tutta la notte<br/>
- Garanzia di freschezza, dal ristorante direttamente a casa tua<br/>
- Potrai organizzare cene/feste/compleanni/anniversari senza preoccuparti di nulla, perché con noi il divertimento non finisce mai.
      </p>
    </div>
  </div>
</div>