 <div class = "col-md-12 piattoDellaSettimana singleProduct" data-id = "<%= product.master.id %>">
    <figure>
      <%= large_image(product, itemprop: "image") %>
      <figcaption><%=  product.name %></figcaption>
    </figure>
    <div class = "piattoDellaSettimana-description">
      <h1><%=  product.name %></h1>
      <%
      
      %>
      <h2>PIATTO DELLA SETTIMANA</h2>
      <p>
        <%= product.dish_of_the_week_description %>
      </p>
    </div>
    <footer class = "clearFloat">
      <div class = "piattoDellaSettimana-quantity clearFloat">
        <!-- <div class = "minusButton">
        </div>
        <div class = "piattoDellaSettimana-quantity-input">
          <input type = "text" value = "1" />
        </div>
        <div class = "plusButton">
        </div> -->
      </div>
      <div class = "piattoDellaSettimana-prezzo">
        Prezzo: <span>&euro; <%= product.price_in("EUR").amount %> </span>
      </div>
      <!--
      <button class = "piattoDellaSettimana-aggiungi">
        Aggiungi al carrello
      </button>
    -->
    </footer>
  </dvi>