<div class = "container-fluid voglieNotturne">
  <div class = "row">
    <div class = "col-md-5">
      <div>
        <div>
          <h1><div>Voglie notturne?</div><div>Ci pensiamo noi!</div></h1>
          <h2>
            <span>Nite Delivery consegna cibo e bevande</span>
            <div></div>
            <span><b>ogni notte fino alle 4.</b> A Milano e Provincia</span>
          </h2>
        </div>
      </div>
      <div class = "cartina hidden-xs">
      </div>
    </div>
    <div class = "col-md-7">
      <div class = "voglieNotturneImages hidden-xs">
        <div class = "voglieNotturneImages-1">
        </div>
        <div class = "voglieNotturneImages-2">
        </div>
      </div>
      <div class = "orario">
        <div class = "orario-in clearFloat">
          <img src = "./img/svg/dalle19Alle5.svg" alt = "Dalle 19:30 alle 4:00" />
          <div class = "orario-testo">
            <h1>Dalle 19:30 alle 4:00 del mattino</h1>
            <h2>Quando gli altri chiudono Nite Delivery è al tuo<br/> servizio. Il venerdì e il sabato fino alle 6:00 am.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container-fluid home-secondoBlocco">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-3">
        <div class = "img">
          <img src = "/img/home/piatti_cucinati_al_momento-nite_delivery.jpg" class = "Piatti cucinati al momento" />
        </div>
        <h2>Piatti cucinati al momento</h2>
        <p>
          Materie di prima scelta, ingredienti sempre freschi. Troverai tutto il nostro amore e dedizione in ogni nostro piatto cucinato appositamente per te!
        </p>
      </div>
      <div class = "col-md-3">
        <div class = "img">
          <img src = "/img/home/vino_birra_superalcolici_bibite-nite_delivery.jpg" class = "Vini, birre, super alcolici e bibite" />
        </div>
        <h2>Vini, birre, super alcolici e bibite</h2>
        <p>
          Sei in riserva durante una cena, una festa o un’after? Scegli cosa preferisci, in poco tempo ricaricheremo il tuo party!
        </p>
      </div>
      <div class = "col-md-3">
        <div class = "img">
          <img src = "/img/home/ordina_relax_computer_telefono-nite_delivery.jpg" class = "Ordina, siediti, rilassati" />
        </div>
        <h2>ORDINA, SIEDITI, RILASSATI</h2>
        <p>
         Sete o fame? Un menù ricco e completo a portata di un click. Cucina italiana, primi, secondi,american food e molto altro. <br/>Scopri il <b>nostro menù</b> e tieni d’occhio il <b>piatto della settimana</b>.
        </p>
      </div>
      <div class = "col-md-3">
        <div class = "img">
          <img src = "/img/home/consegna_rapida_sicura-nite_delivery.jpg" class = "Consegna rapida" />
        </div>
        <h2>CONSEGNA RAPIDA E SICURA</h2>
        <p>
         Entro un’ora il tuo ordine sarà da te, esat- tamente come te lo aspettavi.<br/>Niente più brutte sorprese: il nostro staff consegna solo merce in condizioni per- fette.
        </p>
      </div>
    </div>
  </div>
</div>

<div class = "container-fluid home-terzoBlocco clearFloat">
  <div class = "home-terzoBlocco-top">
    <div class = "clearFloat">
      <img class = "consegnaGratuita" src = "./img/svg/consegnaGratuita.svg" alt = "Consegna gratuita" />
      <img class = "minimoPrezzo" src = "./img/svg/minimoPrezzo.svg" alt = "Prezzo minimo 11,90 euro" />
      <div class = "terzoBlocco-testo hidden-xs">
        <span>Consegna <b>gratuita</b> entro un'ora in tutta Milano e Provincia<br/>Ordine minimo di consegna <b>€ 11,90</b></span>
      </div>
    </div>
     <img src = "/img/home/furgone_home.png" id = "furgoncino" />
  </div>
</div>

<section class = "ilNostroMenu container clearFloat">
  <div class = "row">
    <div class = "col-md-12">
      <h1>Il nostro menù</h1>
    </div>
    <%
      dishes_of_the_wek = get_dish_of_the_week
      dish_of_the_week = dishes_of_the_wek.first
      if dish_of_the_week.present?
    %>
    <%= render :partial => 'dish_of_the_week', :locals => { :product => dish_of_the_week } %>
   <% end %>
  </div>
</section>
<section class = "cibo container">
  <div class = "row">
    <div class = "col-md-12">
      <h1>Cibo</h1>
    </div>
    <div class = "col-md-6">
      <% link = request.base_url+"/menu?section="+url_encode("Cucina italiana") %>
      <a href = "<%= link %>">
        <figure>
          <img src = "/img/home/cucina_italiana-nite_delivery.jpg" alt = "Cucina italiana" />
          <figcaption>Cucina italiana</figcaption>
        </figure>
      </a>
    </div>
    <div class = "col-md-6">
      <% link = request.base_url+"/menu?section="+url_encode("Sandwich") %>
      <a href = "<%= link %>">
        <figure>
          <img src = "/img/home/sandwich_panino_piada-nite_delivery.jpg" alt = "Sandwich" />
          <figcaption>Sandwich</figcaption>
        </figure>
      </a>
    </div>
    <div class = "col-md-6">
      <% link = request.base_url+"/menu?section="+url_encode("Cucina americana") %>
      <a href = "<%= link %>">
        <figure>
          <img src = "/img/home/american_food_hamburger-nite_delivery.jpg" alt = "Cucina americana" />
          <figcaption>Cucina americana</figcaption>
        </figure>
      </a>
    </div>
    <div class = "col-md-6">
      <% link = request.base_url+"/menu?section="+url_encode("Snack & Brioche") %>
      <a href = "<%= link %>">
        <figure>
          <img src = "/img/home/snack_brioche-nite_delivery.jpg" alt = "Snack & Brioche" />
          <figcaption>Snack & Brioche</figcaption>
        </figure>
    </a>
    </div>
  </div>
</section>

<section class = "bevande container">
  <div class = "row">
    <div class = "col-md-12">
      <h1>Bevande</h1>
    </div>
    <div class = "col-md-6">
      <% link = request.base_url+"/menu?section="+url_encode("Vini Rossi") %>
      <a href = "<%= link %>">
        <figure>
          <img src = "/img/home/vini_vino-nite_delivery_2.jpg" alt = "Vini" />
          <figcaption>Vini</figcaption>
        </figure>
      </a>
    </div>
    <div class = "col-md-6">
      <% link = request.base_url+"/menu?section="+url_encode("Superalcolici") %>
      <a href = "<%= link %>">
        <figure>
          <img src = "/img/home/superalcolici-nite_delivery.jpg" alt = "Superalcolici" />
          <figcaption>Superalcolici</figcaption>
        </figure>
      </a>
    </div>
    <div class = "col-md-6">
      <% link = request.base_url+"/menu?section="+url_encode("Analcolici") %>
      <a href = "<%= link %>">
        <figure>
          <img src = "/img/home/analcolici-nite_delivery.jpg" alt = "Analcolici" />
          <figcaption>Analcolici</figcaption>
        </figure>
    </a>
    </div>
    <div class = "col-md-6 buonoSconto">
      Vuoi ricevere dei buoni sconto, <br/>promozioni e le ultime notizie<br/>dal mondo Nite Delivery?
      <span>RICEVI LA NOSTRA NEWSLETTER</span>
      <footer>
      <input type="text" placeholder="Indirizzo e-mail" class="btn btn-default" />
        <button class = "iscrivitiOra">
          Iscriviti ora!
        </button>
      </footer>
    </div>
  </div>
</section>