<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="padding: 0;margin: 0;background-color: #24283C;color: white;font-family: Arial, Helvetica, sans-serif;width: 100%;height: 100%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Conferma registrazione alla newsletter di Nite Delivery</title>
<style>
body, html{
	padding: 0;
	margin: 0;
	background-color: #24283C;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
}

.wrapper{
	width: 100%;
	height: 100%;
	background-color: #24283C;
}

.main{
	max-width: 600px;
	padding: 120px;
}

.divider{
	width: 60%;
	height: 2px;
	background-color: #C8D83F;
}
.header{
	/*
	background-position: 0 0;
	background-size: 195px 118px;
	background-image: url("http://nitedelivery.com/img/svg/logo.svg");
	background-repeat: no-repeat;
	padding-left: 300px;
	*/
	text-transform: uppercase;
	padding-bottom: 70px;
	font-style: italic;
	font-size: 25px;
	font-weight: 200;
	line-height: 28px;
	color: #C8D83F;
}

.header span{
	color: white;
}

.confirm{
	padding-top: 70px;
	padding-bottom: 70px;
	font-size: 35px;
	font-weight: 200;
	line-height: 38px;
	color: #C8D83F;
}

.endBlock{
	padding-top: 90px;
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 90px;
}

.email{
	display: block;
	color: #C8D83F;
	margin-top: 15px;
}

.divider-white{
	width: 40%;
	height: 2px;
	background-color: #ffffff;
}

.footer{
	padding-top: 70px;
	font-size: 12px;
	line-height: 18px;
}

.footer a{
	color: #C8D83F;
}

</style>
</head>

<body style="padding: 0;margin: 0;background-color: #24283C;color: white;font-family: Arial, Helvetica, sans-serif;width: 100%;height: 100%;">
	<div class="wrapper" style="width: 100%;height: 100%;background-color: #24283C;">
	<div class="main" style="max-width: 600px;padding: 120px;">
		<div class="header" style="text-transform: uppercase;padding-bottom: 70px;font-style: italic;font-size: 25px;font-weight: 200;line-height: 28px;color: #C8D83F;">
			i tuoi <span style="color: white;">drink</span> preferiti<br>nel cuore della notte
		</div>
		<div class="divider" style="width: 60%;height: 2px;background-color: #C8D83F;"></div>
		<div class="confirm" style="padding-top: 70px;padding-bottom: 70px;font-size: 35px;font-weight: 200;line-height: 38px;color: #C8D83F;">
			Fantastico! Ora sei registrato<br>alla newsletter di Nite Delivery.
		</div>
		<div class="divider" style="width: 60%;height: 2px;background-color: #C8D83F;"></div>
		<div class="endBlock" style="padding-top: 90px;font-size: 20px;line-height: 24px;padding-bottom: 90px;">
			<p>
				Se hai ricevuto questa mail per errore o per domande riguardo a questa newsletter, contattaci al seguendo indirizzo:
				<a href="mailto:info@nitedelivery.com" class="email" style="display: block;color: #C8D83F;margin-top: 15px;">info@nitedelivery.com</a>
			</p>
		</div>
		<div class="divider-white" style="width: 40%;height: 2px;background-color: #ffffff;"></div>
		<div class="footer" style="padding-top: 70px;font-size: 12px;line-height: 18px;">
			Nite Delivery srl – Via Ferrarin, 13<br>
			20090 Segrate – Tel. 334 3448227<br>
			P.IVA 09694430969<br>
			<a href="mailto:info@nitedelivery.com" style="color: #C8D83F;">info@nitedelivery.com</a>
		</div>
	</div>
</div>
</body>
</html>