<% @body_id = 'login' %>
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Login con il tuo account</h1>
    </div>
      <div id="existing-customer" class="panel-body" data-hook="login">
          <% if flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>
          <%= render :partial => 'spree/shared/login' %>
          <div class="text-center">
                <%= link_to "Crea un nuovo account", spree.signup_path %> |
                <%= link_to "Password dimenticata", spree.recover_password_path %>
          </div>
          <div data-hook="login_extras"></div>
      </div>
  </div>
</div>